.home{
    display: flex;
    flex: 5;
    
    

    .container{
        display: flex;
        gap: 50px;
        padding: 100px;
        flex-wrap: wrap;


        .topbar{
            background: url("https://cdn.houseplansservices.com/content/1mj3du2naee075v656r6tbioqg/w991x660.jpg?v=2");
            background-size: cover;
            height: 400px;
            padding: 50px;
            border-radius: 10px;
            background-color: #eee;
           
            .categories{
                display: flex;
                gap: 30px;
                padding: 50px;

                span{
                    padding: 15px;
                    width: 200px;
                    border-radius: 10px;
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                    font-size: 24px;
                    font-weight: 700;
                    cursor: pointer;
                    border: none;
                    background-color: #333;
                    text-align: center;
                    text-transform: uppercase;
                    color: white;
                }
            }
                
            
            .title{
                margin: 50px 25px 50px 50px;
                font-size: 45px;
                text-align: center;
                font-weight: 700;
                color: white;
                display: flex;
                justify-content: center;
                text-transform: uppercase;
            }
            .searchContainer{
                padding: 10px;
                display: flex;
                gap: 30px;
                justify-content: center;
                
                

               input{
                padding: 5px;
                width: 15%;
                
                
               } 
            }
            .btn{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 25px;
                
            }
               button{
                display: flex;
                
                padding: 10px;
                width: 200px;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
                justify-content: center;
                background-color: yellowgreen;
                border: none;
                border-radius: 10px;
                
               }
               
            
        }





        .card{
            background:linear-gradient(rgba(39, 11, 96, 0.5),rgba(39, 11, 96, 0.5));
            gap: 30px;
            height: 500px;
            width: 500px;
            background-color: #eee;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
           
            .title{
                font-size: 40px;
                font-weight: 700;
                color: #222;
                text-transform: uppercase;
                display: block;
                text-align: center;
                overflow: hidden;
            }
            button{
                padding:15px;
                width: 200px;
                border-radius: 10px;
                background-color: green;
                cursor: pointer;
                justify-content: center;
                border: none;
                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
            }
            .desc{
                color: white;
                font-size: 14px;
            }
        }
        
      .bg1{
        background: url("https://buyletlivespaces.nyc3.digitaloceanspaces.com/property-images/images/90CFDD47-47A7-4EE6-8A50-FF3E995B9603-1644261486.jpeg") center;
        background-size: cover;
      }
.bg2{
    background: url("https://media.istockphoto.com/id/1314814500/photo/houses-in-england-with-typical-red-bricks-at-sunset-main-street-in-a-new-estate-with-typical.jpg?b=1&s=170667a&w=0&k=20&c=yH8vLHPY9zi6bjo6fLDhIZb2sNRo66TgQu-YeirerJ8=") center;
    background-size: cover;
}
.bg3{
    
    background: url("https://realtybiznews.com/wp-content/uploads/2022/02/Propane-Homepage-Other-Uses-Residential-Construction-Marquee-1800x1200-Builder-Jobsite.jpg") center;
    background-size: cover;
}
.bg4{
    background: url("https://www.materials-inc.com/media/hospitality-interior.jpg") center;
    background-size: cover;
}
    }
}