.navbar{
    height: 70px;
    background-color: rgb(224, 241, 248);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    
.left{
    display: flex;
    padding: 20px;
    gap: 30px;
span{
    font-size: 30px;
    font-weight: 700;
}
.search{
    display: flex;
    align-items: center;
    
    input{
        width: 300px;
        padding: 6px;
        border: 1px solid black;
    }
}
}
.right{
    
    ul{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0 150px;
    
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 600;
            margin-right: 10px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover{
                transform: translate(1.1);
                color: silver;
            }
        }
    }
}
}